*{margin:0px ;
padding:0px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
box-sizing: border-box;}

 .navigation{font-size: 25px;
 }

 nav ul li{display: inline-block;
    list-style: none;
}


nav ul li a{text-decoration: none;
    color:#f0f0f0;
    position: relative;
}

nav ul li a::after{
    content:'' ;
    width: 0;
    height: 3px;
    background: rgb(190, 48, 157);
    position:absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s ;
}

.icons{ display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 
    
    

}
.icons img{width: 48px;
    

}




ul li a:hover::after{
    width: 100%;
}


.content{ margin-left: 15%;
    margin-top: 7%; 
}

.hireme{display: flex;
    margin-top:2% ;
}

.Aboutme{display: flex;
    background-color:rgba(42, 40, 42, 0.623) ;
    margin-top: 3%;
}

.Information{margin-left:2%;}

.hobbies{display: grid;
    grid-column: 1fr 1fr 1fr ;
}

.tab-titles{display: flex;
    font-weight: 500px;
    font-style: oblique;
}

.tab-link{margin-left: 5%;
    cursor: pointer;
    position: relative;
}

.tab-link::after{
   content: ''; 
   width: 0;
   height: 3px;
   background: blue;
   position: absolute;
   left: 0;
   bottom: -8px;
   transition:0.5s ;
}
.tab-link.active-link::after{width: 50%;}

.tab-content{display: none;
}

.tab-content.active-tab{display: block;}







.box{border: 1px solid palevioletred;
    background-color:palevioletred;
    height: 44px;
    width: 92px;
    border-radius: 5%;
    color: rgb(106, 32, 176);
}
.box2{border: 1px solid palevioletred;
    height: 44px;
    width: 122px;
    border-radius: 5%;
    color: rgb(106, 32, 176);
}

.Text{display: flex;
margin-top: 10%;
margin-right: 15%;}


   
 p{ margin-top: 2%;}

 .Skills{display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 19%;
    width: 180px;
    height: 160px;
    margin-left:15%;
    margin-top: 3%;
 }

 .personal-skills{display: block;
    width: 100%;
    background: #c8c8c8;


    

 }

 .outer{margin-left: 130%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  box-shadow: 6px 6px 10px 1px rgb(226, 18, 52),
                -6px 6px 10px 1px rgb(164, 18, 226);
    padding: 20px;
 }
.inner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: inset 4px 4px 10px -1px rgb(226, 18, 52);
  
 }
.number{font-weight: 600px;
    color: rgb(190, 48, 157);}


    .outer1{margin-left: 130%;
        width: 160px;
        height: 160px;
        border-radius: 50%;
      box-shadow: 6px 6px 10px 1px rgb(226, 18, 52),
                    -6px 6px 10px 1px rgb(164, 18, 226);
        padding: 20px;
     }
    .inner1{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        align-items: center; 
        justify-content: center;
        box-shadow: inset 4px 4px 10px -1px rgb(226, 18, 52);
       
        
     }
    .number1{font-weight: 600px;
        color:rgb(190, 48, 157);}

        .outer2{margin-left: 130%;
            width: 160px;
            height: 160px;
            border-radius: 50%;
          box-shadow: 6px 6px 10px 1px rgb(226, 18, 52),
                        -6px 6px 10px 1px rgb(164, 18, 226);
            padding: 20px;
         }
        .inner2{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            display: flex;
            align-items: center; 
            justify-content: center;
            box-shadow: inset 4px 4px 10px -1px rgb(226, 18, 52);
            
         }
        .number2{font-weight: 600px;
            color:rgb(190, 48, 157);}

        .contact1{
            display: flex;
        }

        .part1{display: grid;
            grid-template-columns:1fr 1fr 1fr ;
            

        }

        .part2{display: grid;
            grid-template-columns:1fr 1fr 1fr ;
        }

        .contact2{display:grid;
            grid-template-columns:1fr 1fr ;
        }

        .contact4{margin-left: 8%;}
        .contact4 i{
            color: #f0f0f0;
            font-size: 3rem;
        }

        

